body{
    background-color: azure;
    padding: 20px;
    text-align: center;
}
.container{
    background-color: azure;
    box-shadow: 0 4px 5px rgba(0,0,0,0.6);
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
}
h1{
    color: #555;
}
.search-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
    outline: 2px groove #ccc;
    outline-offset: 3px;
    box-shadow: 0 0 10px #333;
    border-radius: 30px;
    width: 100%;
}
input{
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: #555;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 600;
    flex: 1;
    width: 100%;
}
input::placeholder{
    font-size: 1rem;
    font-weight: 600;
    color: #555;
    letter-spacing: 1px;
}
.fa-solid{
    padding: 10px;
    color: #555;
    font-size: 1.2em;
    cursor: pointer;
}

ul{
    list-style: none;
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
    padding: 10px;
}

li{
    outline: 3px groove #ccc;
    outline-offset: 5px;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
@media (max-width: 600px){
    .fa-solid {
    font-size: 1em;
}
    ul {
    font-size:1em;
}
}




